<!DOCTYPE html>
<html>
<head>
  <title>Answer</title>
  {% include "question.css" %}
  <style type="text/css">
    {% if selection == "nw" %}
      #nw { border: 30px solid black }
    {% elif selection == "ne" %}
      #ne { border: 30px solid black }
    {% elif selection == "se" %}
      #se { border: 30px solid black }
    {% elif selection == "sw" %}
      #sw { border: 30px solid black }
    {% endif %}
</style>
</head>

  <body>
    <div id="bar">2 + 2 = </div>
    <div id="nw" tabindex="1">2</div>
    <div id="ne" tabindex="2">4</div>
    <div id="sw" tabindex="3">6</div>
    <div id="se" tabindex="4">8</div>
  </body>
</html>
