<!DOCTYPE html>
<html>
<head>
  <title>Answer</title>
  {% include "answer.js" %}
  {% include "question.css" %}
  <style type="text/css">
    {% if selection == "nw" %}
      #nw { border: 30px solid black }
    {% elif selection == "ne" %}
      #ne { border: 30px solid black }
    {% elif selection == "se" %}
      #se { border: 30px solid black }
    {% elif selection == "sw" %}
      #sw { border: 30px solid black }
    {% endif %}
</style>
</head>

  <body>
    <div id="bar">{{db_qas.question}} {{db_qas.correct_answer}}</div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div id="{{ category }}" tabindex="0">
            {{db_qas[message]}}
            {% if category==selection %}
              {# we are in the category selected by the user #}
              {% if message=="correct_answer" %}
                &#10004; {# tick #}
              {% else %}
                &#10008; {# cross #}
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </body>
</html>
